<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidserverversie2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.androidserverversie2.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="fragments.MessageFragment"
            android:label="@string/title_activity_message_fragment" >
        </activity>
        <activity
            android:name="com.example.androidserverversie2.SendMessage"
            android:label="@string/title_activity_send_message" >
        </activity>
        <activity
            android:name="fragments.UploadFragment"
            android:label="@string/title_activity_file_fragment" >
        </activity>
        <activity
            android:name="fragments.LogFragment"
            android:label="@string/title_activity_log_fragment" >
        </activity>
        <activity
            android:name="com.example.androidserverversie2.LoginActivity"
            android:label="@string/title_activity_party_login" >
        </activity>
        <activity
            android:name="com.example.androidserverversie2.HostActivity"
            android:label="@string/title_activity_host_screen" >
        </activity>
        <activity
            android:name="com.example.androidserverversie2.ClientActivity"
            android:label="@string/title_activity_client_screen" >
        </activity>
        <activity
            android:name="com.example.androidserverversie2.SplashActivity"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name="recievers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.intent.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.example.androidserverversie2" />
            </intent-filter>
            
        </receiver>
        
        <service
            android:name="MediaService"
            android:exported="false"/>
        
    </application>

</manifest>
