@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        
            <form method="post" action="~/audiobox/FileUpload/Post" enctype="multipart/form-data">
                <input type="file" name="fileUpload" />
                <br /><br />
                <input type="submit" name="submit" value="post file" />
            </form>
        
    </div>
</body>
</html>
